body{
  font-family: 'Roboto', sans-serif;
}
.first img{
    width: 235px;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    margin-bottom: 4.74px;
    position: relative;
    top: 22px;
  }
  .first p{
    position: relative;
    margin-top: 0px;
    line-height: 20px;
    font-size: 26px;
    top: 22px;
    color: #FFFFFF;
  }
  .first{
    text-align: center;
    width: 300px;
    height: 300px;
    background-color:#006633;
    border-radius: 44px;
}

.second{
    margin-top: 200px;
    text-align: center;
    width: 300px;
    height: 125px;
    background-color:#006633;
    border-radius: 44px;
}
.second img{
    width: 128px;
    border-radius: 100%;
    margin-bottom: 4.74px;
    position: relative;
    top:-55.79px;
    border: #006633 4px solid;

  }
  
  p{
    margin-top: 0px;
    position: relative;
    top: -63.79px;
    color: #FFFFFF;
    font-size: 16px;
  }
  b{
    font-size: 20px;
    display: block;
  }
