* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.first {
  width: 300px;
  height: 300px;
  background-color: #006633;
  border-radius: 44px;
  position: relative;
}
.first img {
  width: 235px;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
  margin-bottom: 5px;
}
.first div{
  text-align: center;
  position: absolute;
 bottom: 7px;
 width: 100%;
}
.first h3 {
  line-height: 20px;
  font-size: 26px;
  top: 22px;
  color: #ffffff;
}


.second {
  margin-top: 200px;
  text-align: center;
  width: 300px;
  height: 125px;
  background-color: #006633;
  border-radius: 44px;
  position: absolute;
}
.second img {
  width: 128px;
  border-radius: 100%;
  position: relative;
  top: -50%;
  border: #006633 4px solid;
}

.name {
  font-size: 20px;
}
.profession {
  font-size: 16px;
}
.second div {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  margin-bottom: 6px;
  width: 100%;
  text-align: center;
}
