body {
  position: absolute;
  width: 620px;
  height: 220px;
  font-family: "Roboto", sans-serif;
}
div {
  background-color: #006633;
  height: 33px;
  align-items: center;
  margin-bottom: 11px;
}
.heading-row {
  transform: skewX(-25deg);
  background-color: white;
  width: 140px;
  margin: auto;
}
span {
  text-align: center;
  width: 140px;
  height: 33px;
  transform: skewX(25deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
b {
  font-size: 24px;
  font-weight: 900;
}
span img {
  width: 16px;
  height: 16px;
  margin-right: 11px;
}
form {
  width: 450px;
  margin: auto;
}
input {
  width: 423px;
  height: 45px;
  border-radius: 44px;
  border: solid 1px #006633;
  color: #55ae3a;
  margin: auto;
  margin-bottom: 22px;
  font-size: 24px;
  padding-left: 23px;
}
label {
  color: #006633;
  font-size: 20px;
  line-height: 23px;
  position: relative;
  left: 23px;
  font-weight: 700;
}
b {
  font-size: 20px;
}
