
body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

.tablerow {
  height: 120px;
  background-color: white;
  width: 1334px;
}
.image {
  width: 120px;
  height: 110px;
}
.title {
  width: 620px;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.title p {
  margin-left: 15px;
}
.date {
  width: 200px;
  font-size: 20px;
}

table {
  width: 1334px;
  height: 120px;
  margin: auto;
  border: none;
  padding: none;
  border-collapse: collapse;
  border-spacing: 0px;
}
.main-img {
  width: 120px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 110px;
}
.buttons button {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: #006633;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #df7e24;
}
